<div class="overview">
    <div class="item1">
        <div class="card-container">
            <div class="card first">
                <app-card [title]="cards[0]" [subTitle]="'111'" [img]="'/assets/img/top1.svg'"></app-card>
            </div>
            <div class="card">
                <app-card [title]="cards[1]" [subTitle]="'111'" [img]="'/assets/img/jiaoyi.svg'"></app-card>
            </div>
            <div class="card">
                <app-card [title]="cards[2]" [subTitle]="'111'" [img]="'/assets/img/paiming.svg'"></app-card>
            </div>
            <div class="card last">
                <app-card [title]="cards[3]" [subTitle]="'111'" [img]="'/assets/img/trend.svg'"></app-card>
            </div>
        </div>
    </div>

    <div class="item2">
        <div class="client">
            <h2>Clients</h2>
            <div class="tornado">
                <div class="item" *ngFor="let item of tornados">
                    <app-info-item [tornado]="item" [totalValue]="totalCustomValue"></app-info-item>
                </div>
            </div>
        </div>

        <div class="service">
            <h2>Service</h2>
            <app-bar-chart class="bar"></app-bar-chart>
        </div>
    </div>
</div>