:host {
    .overview {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;
    }
    .item1 {
        display: flex;
        justify-content: space-between;

        .client {
            width: 45%;
            height: 400px;
        }
        .service {
            width: 45%;
            .bar {
                width: 100%;
            }
        }
        .tornado {
            height: 400px;
            overflow-y: scroll;
        }
    }
} 