<div class="predict_container">
    <div class="header">
        <div class="header_left">
            <h1 class="title">predict</h1>

            <img class="add" width="20" src="/assets/img/add.svg" nz-dropdown [nzDropdownMenu]="menu">

            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <ng-container *ngFor="let item of supportServices">
                        <li nz-menu-item (click)="onAddService(item)">{{ item.name }}</li>
                    </ng-container>
                </ul>
            </nz-dropdown-menu>
        </div>


        <div class="button">Submit</div>

    </div>
    <div class="divider"></div>

    <div class="bottom">
        <div class="services">
            <ng-container *ngFor="let item of services" [class.center-card]="isCenterCard">
                <app-predict-edit-item [service]="item"></app-predict-edit-item>
            </ng-container>
        </div>

        <div class="bottom_right">
            <div class="bottom_title">Prediction</div>
            <div class="value">+10%</div>
        </div>
    </div>
    

</div>